/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

/* MAIN */
/* Таблица */
.container {
    display: flex;
    padding: 20px;
    /* width: 100%; */
}

.table {
    flex: 7;
    padding: 10px;
}

/* caption {
  font-size: ;
} */

.table__user {
    border-collapse: collapse;
}

tbody {
  cursor: pointer;
}
th, td {
    border: 1px solid #000000;
    padding: 10px;
}

.sidebar {
    flex: 3;
    padding: 10px;
}
/* Пагинатор */
.pagination {
    margin-block-start: 10px;
    display: flex;
    gap: 5px;
}

.pagination__button {
    cursor: pointer;
}
/* Сайдбар */

/* .sidebar__heading {
} */

.sidebar__content {
    padding-block-start: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sidebar__post {
  
}
.sidebar__post-title {
  margin-block-end: 5px;
}
/* .sidebar__post-body {
  
} */