/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,пше
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

/* Общий контейнер */
body {
  margin: 0;
  font-family: Raleway, sans-serif;
  color: #333333;
  min-height: 100vh;
}


/* MAIN */
/* Таблица */
.container {
  display: grid;
  grid-template-areas:
  "table sidebar"
  "pagination sidebar";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 24px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    grid-template-areas:
      "table"
      "pagination"
      "sidebar";
    grid-template-columns: 1fr;
  }
}

.table__user {
  grid-area: table;
  width: 100%;
  border-collapse: collapse;
  margin-block-end: 20px;
}

.table__user caption {
  font-size: 24px;
  font-weight: bold;
  margin-block-end: 10px;
  text-align: start;
}

tbody {
  cursor: pointer;
}

td {
  border-bottom: 1px solid rgb(220, 220, 220);
}

th {
  background-color: rgb(154, 205, 50);
  text-align: start;
}

th, td {
  padding: 10px;
}

tr:hover {
  background-color: rgb(230, 245, 200);
}

tr:active {
  background-color: rgb(204, 232, 123);
}

/* Пагинатор */
.pagination {
  grid-area: pagination;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.pagination__button {
  padding: 8px 12px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  background-color: rgb(100, 149, 237);
}

.pagination__button:hover {
  background-color: rgb(65, 105, 225);
}

.pagination__button:active {
  background-color: rgb(30, 144, 255);
  color: rgb(51, 51, 51);
}

.pagination__button.active {
  background-color: rgba(100, 148, 237, 0.4);
  cursor: default;
}

/* Сайдбар */
.sidebar {
  grid-area: sidebar;
  width: 100%;
}
.sidebar__heading {
  margin-block-end: 10px;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.sidebar__post-title {
  margin-block-end: 10px;
}