/* Сброс стилей */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}


/* MAIN */
/* Таблица */
.container {
  display: grid;
  grid-template-areas:
  "table sidebar"
  "pagination sidebar";
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  
}


/* caption {
  font-size: ;
} */

.table__user {
  grid-area: table;
  width: 100%;
  border-collapse: collapse;
}

.table__user caption {
  font-size: 24px;
  font-weight: bold;
  margin-block-end: 10px;
}

tbody {
  cursor: pointer;
}

td {
    padding: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

th {
  background-color: rgb(154, 205, 50);
}

th, td {
    padding: 10px;
}

tr:hover {
  background-color: rgb(230, 245, 200);
}

tr:active {
  background-color: rgb(204, 232, 123);
}

.sidebar {
  grid-area: sidebar;
}
/* Пагинатор */
.pagination {
  grid-area: pagination;
  display: flex;
  gap: 5px;
}

.pagination__button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: rgb(100, 149, 237);
}

.pagination__button:hover {
  background-color: rgb(65, 105, 225);
}

.pagination__button:active {
  background-color: rgb(30, 144, 255);
}


.pagination__button.active {
  background-color: rgba(100, 148, 237, 0.4);
  cursor: default;
}



/* Сайдбар */

.sidebar {
}

.sidebar__heading {
  margin-block-end: 10px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-block: 10px;
}

/* .sidebar__post {
  
} */
.sidebar__post-title {
}
/* .sidebar__post-body {
  
} */

